*{
    box-sizing: border-box;
  }
  body{
    background-color:#f5f5f5;
  }
/* header style */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .ri-arrow-left-s-line{
  cursor: pointer;
  
  }
  .xMark {
    border: none;
    background: none;
    margin-right: 4px;
    font-weight: bolder;
  }
  .xDiv {
    text-align: right;
    margin-bottom: 20px;
    margin-right: 290px;
  }
  #drawer {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 480px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 6px 16px 4px rgba(0, 0, 0, 0.61);
  }
  li {
    color: #162964;
    list-style-type: none;
    font-weight: bold;
    margin-left: 15px;
    line-height: 2.4rem;
  }
  .drawerI {
    margin-right: 10px;
    margin-bottom: 12px;
  }
  
  .fa-info-circle {
    margin-bottom: 25px;
  }
  .social-media-link {
    display: flex;
    margin-left: 1.8%;
    margin-top: 15px;
  }
  /* .social-media-link li {
  
  } */
  .menu-element i {
  padding-right: 9px;
  }
/* ************************************************************************************** */ 